
  body {
    background: #ececec;
    font-family: 'Roboto', 'sans-serif;' !important;
  } 


.sidebar {
    width: 245px;
    height: 100%;
    position:fixed;
    padding: 0;
    background: linear-gradient(#00b8ff, #02a3e0);
    overflow-y: auto;
    transition: transform 1s ease;
    z-index: 2;
  }

  .sidebar .menu{
    font-size: 15px;
    font-weight: bold;
    padding: 0 0.75rem;
    margin-top: 10px;
    margin-bottom: 20px;
  } 


  .sidebar .menu .link {
    display: block;
    padding: 10px;
    margin-left: 15px;
    margin-top: 8px;
    text-decoration: none;
    color: #fff;
    transition: background .3s;
  }


  .sidebar .menu .link:hover {
    background: rgb(0,167,232,0.8);
    border-radius: 4px;
  }

  .sidebar .menu .link:active{
    color: rgb(255,255,255,0.7);
    border-radius: 4px;
  }

  .sidebar .menu .link i {
    margin-right: 20px;
  }

  .link{
    color: white;
  }

  .active {
    background-color: #fff;
    color: #000 !important;
    border-radius: 4px;
  }

  .divider{
    color: #fff;
    opacity: 1;
    margin-left: 10px;
    margin-right: 10px;
  }

  .logo-container {
    text-align: center;
    margin-top: 10px;
  }

  .profile{
    background: #0492c9;
    position: fixed;
    width:inherit;
    bottom: 0;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile .photo{
    margin-left: 10px;
  }


  .profile .photo img{
      height: 45px;
      width: 45px;
      object-fit: cover;
      border-radius: 10px;
  }

  .full-name{
    max-width: 90px;
  }

  .full-name a:hover{
    text-decoration: none;
    color: rgb(255,255,255,0.8);
  }

  .exit a:hover{
    color: rgb(255,255,255,0.8);
  }

 .content{
  margin-top: 60px;
  overflow-y: auto;
}

  .all-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 245px);
    left: 245px;
  }

.sidebar-responsive{
  background: #00b8ff;
  width: 100%;
  height: 50px;
  display: none;
  align-items: center;
  position: absolute;
  top: 100px;
}

.burger{
  background: #00b8ff;
  height: 50px;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
}

.burger i{
  margin-left: 10px;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  transition: transform 1s ease;
}

/************************************************************/

.wrapper{
    background: #fff;
    border-radius: 4px;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1);
    width:90%;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;
  }

  .no-wrapper{
    width:90%;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;  
  }

/************************************************************/

  /* MATERIAL DESIGN INPUT */


 .field-outlined {
  position: relative;
}

 .input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0;
  }

  .input-box{
    margin-bottom: 30px; 
    width: calc(100% / 2 - 20px);
  }

  .input-box-100{
    margin-bottom: 20px; 
    width: 100%;
  }

  .input-box-3{
    margin-bottom: 25px; 
    width: calc(100% / 3 - 20px);
  }

  .select-box{
    margin-bottom: 40px; 
    width: 100%;
  }

  .select-box-m-20{
    margin-bottom: 20px; 
    width: 100%; 
  }



  .input {
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  .label {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 10px;
    left: 12px;
  }

  
 .input:focus ~ .label, .input:valid ~ .label , 
 .input-textarea:focus ~ .label, .input-textarea:valid ~ .label{
    background: #ffffff;
    top: -8px;
    left: 12px;
    font-size: 12px;
    padding: 0 8px;
  }

  .input:hover , .input-textarea:hover {
    border-color: rgba(0, 0, 0, 0.42);
  }

  .input:focus , .input-textarea:focus {
  /*border: 2px solid #1a73e8;*/
    border: 2px solid #00b8ff;
  }

  .input:focus ~ .label , 
  .input-textarea:focus ~ .label {
   /* color: #1a73e8; */
    color: #00b8ff;
  }

  .input-textarea{
    width: 100%;
    height: 200px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }


  /************************************************************/

  /* INPUT TIME */

  .input-time::-webkit-calendar-picker-indicator, .input-date2::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
  }

  .input-date2:focus + .date-icon{
    color: #00b8ff;
  }

  .time-icon{
    font-size: 15px;
    position: absolute;
    top: 15px;
    right: 30px;
  }

   /************************************************************/

    .action-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
  }



 /************************************************************/


  /* BOTONES */

   .button{
      cursor: pointer;
      border: none;
      white-space: normal;
      letter-spacing: .25px;
      font-weight: 500;
      font-size: 14px;
      padding: 11px 50px;
      border-radius: 4px;
      line-height: 20px;
      min-width: 88px;
      transition: .25s;
      color: #fff;
      margin-right: 15px;
  }

  .button-primary{
    background-color: #00b8ff;
    color: #fff;
  }

  .button-primary:hover{
    box-shadow: 0 1px 1px 0 rgb(66,133,244, .8),
                0 1px 3px 1px rgb(66,133,244, .5);
    background-color: #287ae6;
    color: white;
    text-decoration: none;
  }



  .button-cancel{
    background-color: #fff;
    border: 1px solid #00b8ff;
    color: #00b8ff;
  }


  .button-cancel:hover{
    background-color: rgb(0,0,0, .05);
    text-decoration: none;
    color: #00b8ff;
  }

    .button-add{
    background-color: #51c451;
    color: #fff;
    text-decoration: none;
    height: 100%;
    text-align: center;
    margin-right: 0;
  }

  .button-add:hover{
    box-shadow: 0 1px 1px 0 rgb(66,133,244, .8),
                0 1px 3px 1px rgb(51,125,51, .5);
    background-color: #3f993f;
    text-decoration:none;
    color: #fff;
  }

    .button-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    margin-right: 12px;
    border-radius: 100%;
    background: #00b8ff;
    text-align: center;
    font-size: 12px;
    border: none;    
  }

  .button-circle i{
    color: white;
  }

  .button-circle:hover{
    background: #0097d1;
  }

  .mini-button{
    cursor: pointer;
    white-space: normal;
    letter-spacing: .25px;
    padding: 3px 8px;;
    border-radius: 4px;
    line-height: 20px;
    min-width: 88px;
    transition: .25s;
    display: inline-block;
    margin: 0px;
    margin-right: 5px;
    font-size: 12px;
  }

  .button-back{
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 50%;
    background: transparent;
    font-size: 12px;
    border: none;
    margin-bottom: 5px; 
  }

  .button-back:hover{
    background: rgba(0, 0, 0, .1);
  }

  .button-100{
    width: 100%;
    text-align: center;
  }

  .button-disabled{
    opacity: .65;
    pointer-events: none;
    
  }



  /**************************************************************************/


  /* PROFILE */

.profile-container{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 20px;
  padding: 20px;
  padding-bottom: 0;
  max-width:1100px;
  width: 100%;
  margin: auto;
}

.profile-image{
    background: #fff;
    border-radius: 4px;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 25%;
    display: flex;
    justify-content: center;
}

  .profile-details{
    background: #fff;
    border-radius: 4px;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width:70%;
  }

  .profile-image-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

  }

  .image-profile-container{
    position: relative;
  }

  .name-profile-container{
    margin-top: 18px;
  }

  .image-profile{
    height: 125px;
    width:  125px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .5s ease;
  }

  .real-image{
    opacity: 1;
  }

  .change{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .image-profile-container:hover .change{
    opacity: 1;
  }

  .image-profile-container:hover .real-image{
    opacity: .6;
  }

  .input-file{
    visibility:hidden;
    width:0;
    height:0
  }


  /**************************************************************************/


  /* SEARCH BAR */

  .search-bar{
    border: none;
    background: #fff;
    height: 42px;
    max-height: 42px;
    border-radius: 30px;
    outline: none;
    padding-left: 45px;
    padding-right: 45px;
  /*  margin-left: 4px;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,.1);*/
    position: absolute;
    
  }

  .search-bar::placeholder{
    font-weight: bold;
    opacity: 0.7;
  }

    .search-container{
    position: relative;
  }

  .icon-search{
    position: absolute;
    top: 13px;
    left: 10px;
  }

.clear{
  position: absolute;
  width: 10px;
  height: 15px;
  top: 15px;
  left: 250px;
  cursor: pointer;
}

.clear::before{
  position: absolute;
  content: '';
  width: 1px;
  height: 12px;
  background: #999;
  transform: rotate(45deg);
}

.clear::after{
  position: absolute;
  content: '';
  width: 1px;
  height: 12px;
  background: #999;
  transform: rotate(315deg);
}


  /**************************************************************************/

  .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 20px;
    min-height: 42px;
  }

  /* TABLAS */


.table-container{
  overflow: hidden;
  overflow-x: auto;
  padding-bottom: 5px;
}

  .custom-table {
    width: 100%;
  }

  .custom-table thead th {
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 25px;
  }


  .custom-table tbody {
    background: white;
  }

  .custom-table tbody td {
    color: #777;
    font-weight: 300;
    padding: 25px 15px;
  }


  .custom-table tbody tr td:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .custom-table tbody tr td:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .spacer {
    height: 15px;
    background: transparent;
  }

  /************************************************************/


 /* PAGINAR */

.paginar{
  font-size: 0.8em;
}

 .paginar ul li a {
     color: #00b8ff;
     text-decoration: none;
}
 .paginar ul li a:hover {
     background: #00b8ff;
     color: #fff;
     text-decoration: none;
}

 .paginar ul {
     padding: 0;
     margin: 0;
}
 .paginar ul li {
     display: inline-block;
     margin-bottom: 4px;
     padding-left: 8px;
}
 .paginar ul li a, .paginar ul li span {
     text-align: center;
     display: inline-block;
     width: 35px;
     height: 35px;
     line-height: 35px;
     border-radius: 50%;
     background: #fff;
     color: #00b8ff;
}
 .paginar ul li.active-page a, .paginar ul li.active-page span {
     background: #00b8ff;
     color: #fff;
     border: 1px solid transparent;
}

 /************************************************************/




 /* INPUT DATE */


  .input-date {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    background: white;
   text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

  /* ocultar icono por defecto y para que pueda hacer click por todo el input date */
  .input-date::-webkit-calendar-picker-indicator , .input-date2::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
  }

  .input-date2:focus + .date-icon{
    color: #00b8ff;
  }

  .date-icon{
    font-size: 15px;
    position: absolute;
    top: 12px;
    right: 10px;
  }

  /************************************************************/

    /* SELECT */

  .select select {
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
  }

  .select:after {
    position: absolute;
    top: 18px;
    right: 15px;

    /* Estilo flecha */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.35);
    pointer-events: none;
  }

  /************************************************************/


  /* RESERVATION LIST */

 .training-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 }

 .date-picker-container{
    height: 44px;
    margin-bottom: 40px;
    position: relative;
        -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,.1);
 }

 .details-training-container{
    margin-bottom: 35px;
 }

 .wrapper-training{
  background: white;
  border-radius: 7px;
  padding: 18px;
 }

 .details-training{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 15px;
 }

 .button-training{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
 }

 .spacer-training{
    border: 1px solid #ececec;
 }

 .status-training{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 }

 .status-training span{
    margin-right: 10px;
  }

  .admin-container a{
    text-align: center;
  }

 /************************************************************/

 /* TRAINING LIST */


 .training-button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .settings-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 25px;
 }

 .fa-cog{ /* Icono ajustes */
    color: #00b8ff;
 }


  /************************************************************/

  /* SETTINGS */

  .no-margin-bottom{
    margin-bottom: 0;
  }


  .radio-container{
    margin: 35px 0;
  }

   /************************************************************/

   /* RADIO BUTTON */

   input[type="radio"]{
    display: none;
   }

   .radio-box label{

      padding: 2px 15px 2px 45px;
      position: relative;
      cursor: pointer;
   }

   .radio-box label:hover{
      background: rgba(0, 184, 255, 0.1);
      background: rgba(136, 136, 136, 0.1); 
   }

   .radio-box label:before{
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid #999;
      border-radius: 50%;
      position: absolute;
      left: 15px;
      top: 6px;
   }

   input[type="radio"]:checked + label:before{
      border: 4px solid #00b8ff;
   }


   /************************************************************/


  /* MI CUERPO */

  .nav-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  .button-body{
      cursor: pointer;
      white-space: normal;
      letter-spacing: .25px;
      font-weight: 500;
      font-size: 14px;
      padding: 11px 50px;
      border-radius: 4px;
      line-height: 20px;
      transition: .25s;
      margin-right: 15px;
      background: #fff;
      border: 1px solid #00b8ff;
      color: #00b8ff;
      text-align: center;
      width: 250px;
  }

    .button-body:hover{
    background-color: rgb(0,0,0, .05);
    text-decoration: none;
    color: #00b8ff;
  }

    .active-body, .active-body:hover{
    background-color: #00b8ff;
    color: #fff;
  }


  .tab-container{
    margin-top: 20px;
  }

  .tab-container .tab-box{
    padding: 14px;
  }

  .tab-box{
    display: none;
  }


  .spacer-body{
    border-bottom: 1px solid #ececec;
  }



  /************************************************************/

  /* DETALLES ENTRENO */

  .details-clients{
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    justify-items: center;
  }

  .card-client{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 12px;
    cursor: pointer;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  .details-photo{
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
  }

  .icon-cross{
    color: red;
    position: absolute;
    top: -6px;
    right: -7px;
    display: none;
  }

  .button-delete-client{
    background: transparent;
    border: none;
  }

  .card-client:hover .icon-cross{
    display: block;
  }

  .title-wod{
    font-weight: bold;
    margin-top: 30px;
  }

  .indentation-training{
    margin-left: 15px;
  }


 /************************************************************/ 


 /* BADGES */

 .badge-custom{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px
 }

 .badge-green{
    background: #28a745;
 }

 .badge-red{
    background: #dc3545
 }

 .badge-yellow{
    background: #f0ad4e; 
 }

   .badge-filter{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: white;
    border: 1px solid #00b8ff;
    color: #00b8ff;
    border-radius: 10px
 }


 .badge-blue, .badge-filter:hover{
    background: #00b8ff;
    color: white;
 }


 /************************************************************/ 

  /* TEXT */

 .text-bold{
    font-weight: bold;
 }

 .text-color-primary{
    color: #00b8ff;
 }


 .text-capacity{
    margin: 0px; 
    font-size: 0.875em; 
    opacity: 0.5;
 }

  .text-red{
    color: #dc3545;
 }


 .text-grey{
    color: #777;
 }


 /************************************************************/


 /* MODAL */

 .modal-container{
    position: fixed;
    z-index: 1;
    width: calc(100% - 245px);
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;    
    opacity: 0;
    visibility: hidden;
    left: 245px;
 }

 .modal-wrapper{
    background: white;
    width: 85%;
    max-width: 570px;
    height: 50%;
    border-radius: 4px;
    transition: transform 1s;
    transform: translateY(0%);
    margin: auto;
    margin-top: 100px;
 }

  .hidden-modal{
    transform: translateY(-200%);
 }

 .modal-custom{
   /* margin: 15px;
    margin-top: 0;*/
    padding: 15px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
 }

 .header-modal{
    height: 20%;
    margin-bottom: 20px;
 }

  .body-modal{
    height: 80%;
    overflow: hidden;
    overflow-y: auto;
  }

 .close-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
 }

  .search-container-modal{
    height: 28px;
    position: relative;
  }

  .search-bar-modal{
    border: none;
    background: #fff;
    height: 100%;
    border-radius: 30px;
    outline: none;
    margin-left: 4px;
    padding-left: 28px;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,.1);
  }

  .search-bar-modal::placeholder{
    font-weight: bold;
    opacity: 0.7;
    font-size: 12px;
  }


  .icon-search-modal{
    position: absolute;
    font-size: 10px;
    top: 7px;
    left: 10px;
  }

  .clear-search-bar{
    position: absolute;
    width: 10px;
    height: 15px;
    top:  6px;
    left: 200px;
    cursor: pointer;
}

.clear-search-bar::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: #999;
    transform: rotate(45deg);
}

.clear-search-bar::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: #999;
    transform: rotate(315deg);
}



  .table-modal{
    width: 100%;
    overflow-x: auto;
  }

  .table-modal thead th {
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-weight: 500;
    padding-left: 22px;
    padding-bottom: 5px;
  }

  .table-modal tbody {
    background: white;
  }

  .table-modal tbody td {
    color: #777;
    font-size: 12px;
    padding: 10px;
    padding-left: 30px;
    width: 100%;
  }

  .table-modal-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .button-table-modal{
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 50%;
    background: transparent;
    font-size: 12px;
    border: none;
  }

  .button-table-modal:hover{
    background: rgba(0, 0, 0, .1);
  }

  .spacer-modal {
    border: 1px solid #ececec;
  }


 /************************************************************/


 /* EMPTY DATA */

.empty-data{
  display: flex;
  justify-content: center;
  text-align: center;
}

.empty-data h3{
  opacity: 0.5;
}

.small-empty h3{
  font-size: 22px;
}


 /************************************************************/


 /* ALERTAS */ 

 .custom-alert {
  padding: .75rem 1.25rem;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: .25rem
}

.alert-red {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb
}

.alert-green {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb
}


 /************************************************************/

 /* HOME */

.home-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width:1100px;
  width: 90%;
  margin: auto;
 }

 .welcome-container{
  margin-bottom: 50px;
  max-width:1100px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  color: #00b8ff;
 }

 .welcome-box{
  background: white;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }

 .welcome{
  text-align: justify;
 }

 .logo-welcome{
    margin-right: 20px;
 }

.home-box-1{
  width:65%;
  }


.home-box-2{
  width: 30%;
}

.card-home{
  padding: 0;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 1100px;
  margin-bottom: 40px;
}

.card-home-header{
  background: #f8f9fa;
  border-bottom: 1px solid #bbb;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: bold;
}

.card-home-header span{
  display: block;
}

.day-pay-box{
  display: block;
  opacity: 0.5;
}

.card-home-body{
  padding: 10px;
}

.day-pay{
  display: inline;
}


.list-home{
  padding: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.list-home-info{
  display: inline-block;
  margin-bottom: 0;
}

.list-home-info ~ span{
  margin-left: 10px;
}

.list-home-sub{
  display: block;
  color: #6c757d;
}

.button-home-list{
  width: 100%;
  margin: 15px 0 5px;
  display: block;
  text-align: center;
}

.list-training{
  cursor: pointer;
  transition: background .3s;
}

.list-training:hover{
  background: rgba(0, 0, 0, 0.1);  
}


/************************************************************/

/* ANIMATION */

.animate {
  animation-duration: .8s;
  animation-fill-mode: both;
}

.delay-anim{
  animation-delay: var(--time);  
}

.fadeInDown {
  animation-name: fadeInDown;
 }

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
} 


/************************************************************/


/* VERIFIED */

.bg-blue{
  background: #00b8ff;
  height: 100vh;
  width: 100%;
}

.data-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-wrapper{
  background: white;
  width: 80%;
  max-width: 450px;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  padding: 25px;
  text-align: justify;
 /* word-break: break-all; */
}

/************************************************************/


/* FILTER */

.option-filter span{
  cursor: pointer;
}


/************************************************************/

/* SCROLL */


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d1d1d1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}

/************************************************************/

/* STATS */


.wrapper-50{
    background: #fff;
    border-radius: 4px;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.1);
    width:90%;
    margin-bottom: 50px;

  }

.stat-container{
  display: flex;
  gap: 50px;
  width:90%;
  max-width: 1100px;
  margin: auto;
}

.container-chart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px;
}


.chart-size{
  height: 200px;
  width: 200px;
  margin: auto;
}


/************************************************************/


@media screen and (max-width: 1297px){
  .button-circle{
    margin-bottom: 10px;
  }
}


  @media screen and (max-width: 1170px){
    .profile-container    .button{
        width: 100%;
        margin-bottom: 20px;
    }

 .profile-container  .input-box{
      margin-bottom: 20px;
    width: 100%;
    }
    .profile-image{
      width: 100%;
}

  .profile-details{
    width: 100%;
  }

  }

 @media screen and (max-width: 1155px){

  .nav-container{
    flex-direction: column;
  }

    .button-body{
      width: 100%;
      margin-bottom: 10px;
    }

    .input-box-3{
      margin-bottom: 20px; 
      width: 100%;
    }
 }

 @media screen and (max-width: 1000px){

  .container-chart{
    gap: 20px;
  }

  .chart-size{
  /*  width: 100%;*/
  }
 }


  @media screen and (max-width: 896px){
    .button-training .button{
      width: 100%;
      margin-bottom: 10px;
    }

    .home-box-1{
      width: 100%;
      margin-bottom: 0;
    }

    .home-box-2{
      width: 100%;
    }




  }

  @media screen and (max-width:880px){

    .search-container{
      width: 100%;
      margin-bottom: 20px;
      height: 42px;
    }

    .button-add{
      width: 100%;
    }
    .search-bar{
      width: 100%;
      height: 100%;
    }

    .training-button-container h3{
      margin-bottom: 22px;
    }

    .logo-welcome{
      margin: auto;
    }

    .welcome{
      width: 100%;
    }

    .filter-container{
      width: 100%;
    }
}


 @media screen and (max-width:827px){

  .title{
    font-size: 16px;
  }


   .input-box{
      margin-bottom: 20px;
      width: 100%;
    }

    .button{
        width: 100%;
        margin-bottom: 20px;
        display: inline-block;
        text-align: center;

    }

    .data-wrapper .button{
      margin-bottom: 0px;
    }

    .status-training span{
      width: 100%;
      margin-bottom: 10px;
    }




 }


@media screen and (max-width:760px){

  .mini-button{
    width: 100%;
    margin-bottom: 10px; 
  }


}



 @media screen and (max-width:632px) {
      .sidebar{
        -webkit-box-shadow: 11px 0px 13px 2px rgba(0,0,0,0.20); 
        box-shadow: 11px 0px 13px 2px rgba(0,0,0,0.20);
        transform: translateX(-150vw);
      }

      .burger{
        display: block;
      }

      .all-content{
        width: calc(100% - 0px);
        height: calc(100% - 50px);
        left: 0px;
        margin-top: 30px;
      }

      .modal-container{
        width: calc(100% - 0px);
        left: 0px;
      }

      .content{
        margin-top: 45px;
    }

    .modal-wrapper{
      margin-top: 100px;
    }

    .empty-data h3{
      font-size: 20px;
    }

    .stat-container{
      display: block;
    }

    .wrapper-50{
      width: 100%;
    }
 }


 @media screen and (max-width: 404px){
    .button-training button:first-child{
        font-size: 10px;
    }

    .search-bar-modal{
      max-width: 130px;
    }

    .clear-search-bar{
      left: 120px;
    }
 }

 @media screen and (max-width: 342px){

    .welcome h1{
      font-size: 30px;
    }

 }



 @media screen and (max-width: 282px){

  .button-add{
    font-size: 10px; 
  }

 }

